<a href="https://colab.research.google.com/github/habib-gm/Machine-Learning-SoloLearn/blob/master/Sensitivity_%26_Specificity_in_Scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
import pandas as pd
import numpy as np
from sklearn.metrics import recall_score, precision_recall_fscore_support

In [16]:
model = LogisticRegression(solver = "liblinear")

In [4]:
dt = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
dt.head()

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500

In [5]:
dt["Sex"] = dt['Sex'] == 'male'
dt.head()

   Survived  Pclass    Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3   True  22.0                 1                 0   7.2500
1         1       1  False  38.0                 1                 0  71.2833
2         1       3  False  26.0                 0                 0   7.9250
3         1       1  False  35.0                 1                 0  53.1000
4         0       3   True  35.0                 0                 0   8.0500

In [6]:
X = dt[["Pclass",	"Sex",	"Age",	"Siblings/Spouses",	"Parents/Children",	"Fare"]]
X.head()

   Pclass    Sex   Age  Siblings/Spouses  Parents/Children     Fare
0       3   True  22.0                 1                 0   7.2500
1       1  False  38.0                 1                 0  71.2833
2       3  False  26.0                 0                 0   7.9250
3       1  False  35.0                 1                 0  53.1000
4       3   True  35.0                 0                 0   8.0500

In [7]:
y = dt['Survived']
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [20]:
X_train,X_test, y_train , y_test = train_test_split(X,y, random_state=21)

In [21]:
print("whole dataset:", X.shape, y.shape)
print("training set:", X_train.shape, y_train.shape)
print("test set:", X_test.shape, y_test.shape)

whole dataset: (887, 6) (887,)
training set: (665, 6) (665,)
test set: (222, 6) (222,)

In [22]:
model.fit(X_train, y_train)

LogisticRegression(solver='liblinear')

In [27]:
y_pred = model.predict(X_test)
print("Sensitivity:", recall_score(y_test, y_pred))
print("Specificity:",precision_recall_fscore_support(y_test, y_pred))

Sensitivity: 0.6470588235294118
Specificity: (array([0.79865772, 0.75342466]), array([0.86861314, 0.64705882]), array([0.83216783, 0.69620253]), array([137,  85]))

# Using Proba to alter threshold of logistic model

In [28]:
y_pred = model.predict_proba(X_test)[:, 1] > 0.75

In [29]:
print("Sensitivity:", recall_score(y_test, y_pred))
print("Specificity:",precision_recall_fscore_support(y_test, y_pred))

Sensitivity: 0.35294117647058826
Specificity: (array([0.71204188, 0.96774194]), array([0.99270073, 0.35294118]), array([0.82926829, 0.51724138]), array([137,  85]))