<a href="https://colab.research.google.com/github/habib-gm/Machine-Learning-SoloLearn/blob/master/sklearn_pandas_and_numpy_logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from sklearn.linear_model import LogisticRegression 
import pandas as pd
import numpy as np

In [4]:
model = LogisticRegression()

In [5]:
data = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')

In [6]:
data.head()

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500

In [9]:
data['Sex'] = data['Sex'] == 'male'

In [17]:
model.fit(data[["Pclass",	"Sex",	"Age",	"Siblings/Spouses",	"Parents/Children",	"Fare"]].values, data[['Survived']].values)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [18]:
print(model.coef_, model.intercept_)

[[-1.00777123  0.         -0.04229388 -0.28125379  0.21454081  0.00474583]] [2.9612604]

In [38]:
# data[['Fare', 'Age']].values[0]
predicted = model.predict(data[["Pclass",	"Sex",	"Age",	"Siblings/Spouses",	"Parents/Children",	"Fare"]].values)
survived = data['Survived']
print(survived.shape)
correct = survived[predicted == survived]
print(correct.shape)
incorrect = survived[predicted != survived]
print(incorrect.shape)

(887,)
(622,)
(265,)

In [39]:
correct_score = correct.shape[0]/data.shape[0] * 100
incorect_score = incorrect.shape[0]/data.shape[0] * 100
print(correct_score, incorect_score)

70.12401352874859 29.87598647125141

In [41]:
model.score(data[["Pclass",	"Sex",	"Age",	"Siblings/Spouses",	"Parents/Children",	"Fare"]].values, data[['Survived']].values) * 100

70.12401352874859

In [43]:
!ls

/content